<html>
<head>
  <title>Kobeck Savings and Loans</title>
  <style>
    body {
      background-color: seablue;
      color: white;
      font-family: Bookman old style, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    img{
      float:left;
    }
    h1 {
      text-align: center;
      font-size: 3em;
      padding: 1em 0;
    }
    h3 {
      text-align: center;
      font-size: 2em;
      margin-bottom: 2em;
    }
    p {
      font-size: 1.2em;
      line-height: 1.5em;
      margin: 1em 0;
    }
    
    
  </style>
</head>
<body bgcolor="seablue,white,red">
   <!-- Add logo image -->
  <img src="static/bblogo.png" alt="Kobeck Savings and Loans logo" class="logo">
  
 
    <h1>Kobeck Savings and Loans</h1>
    
    
    <h3>Kobeck: Your trusted partner in financial growth</h3>
    <p>Better banking that rewards you every day.</p>
    <p><a href={{ url_for('customerinfo') }}>customerinfo</a> | <a href={{ url_for('loanlist') }}>loanlist</a></p>
    <p>From savings to checking accounts and innovative mobile apps, Kobeck Savings and Loans helps you build a solid financial future.
    </p>

    <p>Supply Let’s help you secure a loan in just 48 hours.</p>
</body>
</html>